<p>@( ((int)(CurrentTime / 60)).ToString("00") ):@((CurrentTime % 60).ToString("00")) / @( ((int)(MaxSeconds /
    60)).ToString("00") ):@((MaxSeconds % 60).ToString("00"))</p>

@code {
    [Parameter]
    public double MinSeconds { get; set; } = 0.0;

    [Parameter]
    public double MaxSeconds { get; set; } = 0.0;

    [Parameter]
    public double CurrentTime { get; set; } = 0.0;
    /*
    Old Input Class:
    <input class="w-full m-2" type="range" min=@MinSeconds max=@MaxSeconds @bind-value=@CurrentTime>
    */
}