<div class="flex items-center shadow-md bg-pink-200 rounded-lg p-2">
    @if (loadImg)
    {
        <img loading="lazy" src="@song!.track!.album!.images!.FirstOrDefault()!.url" class="rounded-lg aspect-square h-32">
    }
    <div class="ml-4 flex-col">
        <h1 class="font-bold text-2xl">@song.track.name</h1>
        <p1 class="block">By: @String.Join(", " , song!.track!.artists!.Select(x=>x.name))</p1>
        <p1 class="block">Album: @song!.track!.album.name</p1>
    </div>
</div>


@code {
    [Parameter]
    public Song? song { get; set; }

    [Parameter]
    public bool loadImg { get; set; } = true;
}