<div class="flex items-center shadow-md bg-pink-200 rounded-lg p-2 ">
    @if (loadImg)
    {
        <img loading="lazy" src="@song!.track!.album!.images!.FirstOrDefault()!.url"
        class="rounded-lg aspect-square h-24 md:h-48">
    }
    <div class="ml-4 flex-col truncate ...">
        <h1 class="font-bold text-2xl truncate ... pb-2">@song!.track!.name</h1>
        <h1 class="block truncate ...">By: @String.Join(", " , song!.track!.artists!.Select(x=>x.name))</h1>
        <h1 class="block truncate ...">Album: @song!.track!.album!.name</h1>
    </div>
</div>


@code {
    [Parameter]
    public Song? song { get; set; }

    [Parameter]
    public bool loadImg { get; set; } = true;
}