@page "/"
@inject IJSRuntime Js
@inject HttpClient HttpClient
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<PageTitle>NijiguesSaki</PageTitle>

<h1>Setup Page</h1>

<input type="text" @bind="SongLink">
<p>@ErrorMessage</p>
<br>
<p>You may paste these types of links:</p>
<ul>
    <li>Spotify Playlist Link, e.g.: https://open.spotify.com/playlist/7ulKXEl7j07T22foLPNzvU?si=5a7d6176fb0547f7</li>
    <li>Playlist Id, e.g.: 7ulKXEl7j07T22foLPNzvU</li>
</ul>

<button @onclick=@TestValue disabled=@(PlaylistStatus.Contains("Checking"))>@PlaylistStatus</button>

@code {
    public string SongLink { get; set; } = String.Empty;
    public string PlaylistStatus { get; set; } = "Check Playlist";

    public string ErrorMessage { get; set; } = string.Empty;
    public void TestValue()
    {
        ErrorMessage = string.Empty;
        PlaylistStatus = "Checking Playlist";
        if (SongLink.Equals(string.Empty))
        {
            ErrorMessage = "No link was pasted";
            return;
        }

        try
        {
            var tempSongLink = SongLink.Replace("https://open.spotify.com/playlist/", string.Empty);
            tempSongLink = tempSongLink.Substring(0, 22);
        }
        catch (ArgumentOutOfRangeException e)
        {
            ErrorMessage = "Invalid Spotify Link detected";
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            PlaylistStatus = "Check Playlist";
        }
    }
}