<header class="bg-gray-800 sm:flex sm:justify-between sm:px-4 sm:py-2 sm:items-center">
    <div class="flex px-4 py-2 items-center justify-between sm:p-0">
        <div>
            <a href="/guess">
                <img class="h-12" src="NijiLogo.png">
            </a>
        </div>

        <div class="sm:hidden">
            <button type="button" class="text-white" @onclick="() => isOpen = !isOpen">
                <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
                    @if (isOpen)
                    {
                        <path fill-rule="evenodd"
                        d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z" />
                    }
                    else
                    {
                        <path fill-rule="evenodd"
                        d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z" />
                    }
                </svg>
            </button>
        </div>
    </div>
    <div class="sm:flex sm:p-0 @(isOpen ? "block" : "hidden")">
        <a href="#" class="block sm:ml-2 px-2 py-2 text-white font-semibold hover:bg-gray-700 rounded">Home</a>
        <a href="#" class="block sm:ml-2 px-2 py-2 text-white font-semibold hover:bg-gray-700 rounded">Guess!</a>
        <a href="#" class="block sm:ml-2 px-2 py-2 text-white font-semibold hover:bg-gray-700 rounded">Settings</a>
    </div>

</header>

@code {
    public bool isOpen = false;
}
